[submodule "CPPO/3_sem/Programming_languages/practics/sea_battle"]
	path = CPPO/3_sem/Programming_languages/practics/sea_battle
	url = ../sea_battle
[submodule "CYUR/1_sem/Python/labs/lab_3"]
	path = CYUR/1_sem/Python/labs/lab_3
	url = ../Python_lab_3
[submodule "CPPO/old/1-2 Programming/labs/lab_1"]
	path = CPPO/old/1-2 Programming/labs/lab_1
	url = ../Java_lab_1
[submodule "CPPO/old/1-2 Programming/labs/lab_2"]
	path = CPPO/old/1-2 Programming/labs/lab_2
	url = ../Java_lab_2
[submodule "CPPO/old/1-2 Programming/labs/lab_3-4"]
	path = CPPO/old/1-2 Programming/labs/lab_3-4
	url = ../Java_lab_3-4
